beautifulsoup4
selenium
pandas
rapidfuzz
python-Levenshtein
aiohttp
asyncio
flask_admin
flask_sqlalchemy
flask_migrate
flask_socketio
fuzzywuzzy
sqlalchemy
django-environ
psycopg2
djangorestframework
django-cors-headers
django-silk
channels
daphne
pytest
pytest-django